<header class="container">
  <h1> <img src="/assets/images/muLogoLight.png" /> Midwest Uncertainty Collective</h1>
  <nav class="glb-nav-list">
    <span class="nav-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </span>
    <a href="/">Home</a>
    <a href="/people/">People</a>
    <a href="/research/">Research</a>
    <a href="/papers/">Papers</a>
    <a href="/work-with-us/">Work with us</a>
  </nav>
</header>