$key-color: #4e2a84;
$light-purple-bg: rgba(78, 42, 132, 0.1);
$default-font: 'Source Sans Pro', 'Lato', sans-serif;
$xlg: 1200px;
$lg: 960px;
$md: 720px;
$sm: 576px;

html,
body {
  width: 100%;
  height: 100%;
  font-family: $default-font !important;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #FF4D00;
  text-decoration: none;
}

a:hover {
  color: #FF4D00 !important;
  text-decoration: underline;
}

.container {
  @media screen and (min-width: $xlg) {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $xlg) {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $lg) {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: $md) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (max-width: $sm) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #999999;
  font-weight: 400;
  font-size: 0.8rem;


  @media screen and (min-width: $md) {
    padding: 0 0 1rem 0;
  }

  @media screen and (max-width: $md) {
    padding: 1rem;
  }
}


header.default {
  .title-wrap {
    display: flex;
    align-items: center;

    @media screen and (min-width: $xlg) {
      padding: 1rem 0;
    }

    @media screen and (max-width: $xlg) {
      padding: 1rem 0;
    }

    @media screen and (max-width: $lg) {
      padding: 1rem 0;
    }

    @media screen and (max-width: $md) {
      padding: 1rem;
      margin: 0;
    }

    @media screen and (max-width: $sm) {
      padding: 1rem;
      margin: 0;
    }
  }

  img.logo {
    display: inline;
    width: 2vw;
    min-width: 35px;
    max-width: 60px;
    height: auto;
    margin-right: 1rem;
  }

  .title {
    font-weight: 500;
    line-height: 140%;

    @media screen and (min-width: $xlg) {
      font-size: 2rem;
    }

    @media screen and (max-width: $xlg) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: $lg) {
      font-size: 1.6rem;
    }

    @media screen and (max-width: $md) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 1.4rem;
    }
  }

  nav {
    font-weight: 300;
    line-height: 140%;
    display: flex;
    flex-wrap: wrap;

    a {
      display: block;
      color: black;
    }

    @media screen and (min-width: $xlg) {
      margin: 0;
      font-size: 1.2rem;

      a {
        margin: 0 1rem 0.5rem 0;
      }
    }

    @media screen and (max-width: $xlg) {
      margin: 0;
      font-size: 1.1rem;

      a {
        margin: 0 1rem 0.5rem 0;
      }
    }

    @media screen and (max-width: $lg) {
      margin: 0;
      font-size: 1rem;

      a {
        margin: 0 1rem 0.5rem 0;
      }
    }

    @media screen and (max-width: $md) {
      margin: 0;
      padding: 1rem;
      font-size: 1rem;

      a {
        margin: 0 1.5rem 0.25rem 0;
      }
    }

    @media screen and (max-width: $sm) {
      margin: 0;
      padding: 1rem;
      font-size: 1rem;

      a {
        margin: 0 1.5rem 0.25rem 0;
      }
    }
  }
}

h2 {
  font-weight: 500;
  color: $key-color;

  @media screen and (min-width: $xlg) {
    margin: 3rem 0 3rem 0;
    font-size: 2rem;
  }

  @media screen and (max-width: $xlg) {
    margin: 2.5rem 0 2.5rem 0;
    font-size: 1.8rem;
  }

  @media screen and (max-width: $lg) {
    margin: 2rem 0 2rem 0;
    font-size: 1.6rem;
  }

  @media screen and (max-width: $md) {
    margin: 1rem;
    font-size: 1.5rem;
  }

  @media screen and (max-width: $sm) {
    margin: 1rem;
    font-size: 1.5rem;
  }

}


.main-section-wrap {
  margin-bottom: 1.5rem;

  &.display-text {
    margin-bottom: 6rem;

    @media screen and (max-width: $md) {
      margin-bottom: 3rem;
    }
  }

  @media screen and (max-width: $md) {
    padding: 1rem;
  }

  .home-display {
    font-weight: 300;
    max-width: 600px;

    @media screen and (min-width: $md) {
      font-size: 1.25rem;
      line-height: 150%;
      padding-right: 0.5rem;
    }

    @media screen and (max-width: $md) {
      font-size: 1rem;
      line-height: 140%;
    }
  }

  .title-wrap {
    display: flex;
    align-items: baseline;

    h3 {
      margin: 0 0 0.5rem 0;
      font-size: 1.3rem;
      font-weight: 500;
    }

    a {
      font-size: 0.9rem;
      font-weight: 400;
      color: #333333;
      margin-left: 1rem;
    }
  }


  .image-grid {
    display: grid;

    @media screen and (min-width: $xlg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: $xlg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: $lg) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr 1fr;
    }

    column-gap: 0.5rem;
    row-gap: 0.5rem;

    a {
      display: block;
      width: 100%;
      line-height: 0;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        border: 1px solid #dddddd;
        border-radius: 0.25rem;
        transition: .3s;
        cursor: pointer;
      }

      img:hover {
        box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.1), 0 0 7px rgba(0, 0, 0, 0.05);
      }

    }
  }
}

.container>p,
.container>h3 {
  @media screen and (max-width: $md) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}