$key-color: #4e2a84;
$light-purple-bg: rgba(78, 42, 132, 0.1);
$default-font: 'Source Sans Pro', sans-serif;
$desktop-min: 781px;
$mobile-max: 780px;

html,
body {
  width: 100%;
  height: 100%;
  font-family: $default-font;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


header nav.glb-nav-list a {
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  border-radius: 0.25rem;
  color: black;
  text-decoration: none;
}

header nav.glb-nav-list a:hover {
  color: $key-color;
  background-color: $light-purple-bg;
}

header {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $desktop-min) {
    padding: 2rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: $mobile-max) {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

header h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 100%;

  @media screen and (min-width: $desktop-min) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: $mobile-max) {
    font-size: 1.2rem;
  }
}

header h1 img {
  width: auto;
  vertical-align: bottom;

  @media screen and (min-width: $desktop-min) {
    height: 3rem;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
    margin-right: 0.5rem;
  }

  @media screen and (max-width: $mobile-max) {
    height: 2rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-right: 0.5rem;
  }
}

header nav.glb-nav-list {
  @media screen and (min-width: $desktop-min) {
    display: flex;
  }

  @media screen and (max-width: $mobile-max) {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: auto;
    padding: 0.5rem;
    align-items: flex-end;
    border: 1px solid transparent;
    background-color: white;
  }
}

header nav.glb-nav-list a {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}

header .nav-toggle {

  @media screen and (min-width: $desktop-min) {
    display: none;
  }

  @media screen and (max-width: $mobile-max) {
    display: block;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: $mobile-max) {
  header nav.glb-nav-list:hover {
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.05);
  }

  header nav.glb-nav-list:hover a {
    display: block;
  }
}

footer {
  margin-top: 1rem;
  border-top: 1px solid #dddddd;
  padding: 1rem;
  color: #999999;
  font-weight: 300;
}

main.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-weight: 500;
  line-height: 100%;
  color: $key-color;

  @media screen and (min-width: $desktop-min) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: $mobile-max) {
    font-size: 1rem;
  }
}
