.paper-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .paper-list-image {
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    transition: .3s;
    overflow: hidden;

    @media screen and (min-width: $xlg) {
      width: 200px;
      height: 120px;
    }

    @media screen and (max-width: $xlg) {
      width: 200px;
      height: 120px;
    }

    @media screen and (max-width: $lg) {
      width: 175px;
      height: 105px;
    }

    @media screen and (max-width: $md) {
      width: 150px;
      height: 90px;
    }

    @media screen and (max-width: $sm) {
      width: 125px;
      height: 75px;
    }

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      margin: auto 0;

      object-fit: cover;
    }
  }

  .paper-list-content {
    @media screen and (min-width: $xlg) {
      width: calc(100% - 200px - 1rem);
    }

    @media screen and (max-width: $xlg) {
      width: calc(100% - 200px - 1rem);
    }

    @media screen and (max-width: $lg) {
      width: calc(100% - 175px - 1rem);
    }

    @media screen and (max-width: $md) {
      width: calc(100% - 150px - 1rem);
    }

    @media screen and (max-width: $sm) {
      width: calc(100% - 125px - 0.5rem);
    }

    h4 {
      font-size: 1.05rem;
      font-weight: 600;
      margin: 0 0 0.5rem 0;

      a {
        color: #000000;
        line-height: 100%;
      }
    }

    span {
      display: block;
      margin-top: 0.5rem;
      font-weight: 400;
      line-height: 130%;
    }

    span.authors {
      font-size: 1rem;
    }

    span.venue {
      font-size: 0.85rem;
      color: #666666;

      svg {
        width: auto;
        height: 0.85rem;
        vertical-align: text-bottom;
      }

      a {
        color: $key-color;
      }
    }
  }
}

h3.paper-year-title {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.paper-header,
.paper-content,
.paper-banner,
.paper-footer {
  margin: 0 auto 1rem 0;
  width: 100%;
  max-width: 800px;

  @media screen and (min-width: $md) {
    padding: 0;
  }

  @media screen and (max-width: $md) {
    padding: 0 1rem;
  }
}

.paper-footer a::after {
  content: ' | ';
}

.paper-footer a:last-child::after {
  content: '';
}

section.paper-header {
  margin-top: 2rem;

  small {
    font-size: 0.9rem;
    font-weight: 700;
    color: #333333;
  }

  h2.paper-title {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding: 0;
    font-weight: 400;
  }

  span {
    display: block;
    margin-top: 0.5rem;
    font-weight: 400;
    line-height: 130%;
  }

  span.authors {
    font-size: 1rem;
  }

  span.venue {
    font-size: 0.85rem;
    color: #666666;
  }

  span.award {
    font-size: 0.8rem;
    font-weight: 400;
  }

  svg {
    width: auto;
    height: 0.8rem;
    vertical-align: text-bottom;
  }

  a {
    color: $key-color;
  }
}

.paper-banner {
  img {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
  }

  p.caption {
    width: 100%;
    max-width: 500px;
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
    font-weight: 400;
    color: #666666;
  }
}

.paper-content {

  h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem 0 0.5rem 0;

    svg {
      width: auto;
      height: 1rem;
      vertical-align: middle;
    }
  }

  p {
    font-size: 0.9rem;
    color: #666666;
    line-height: 130%;
    max-width: 500px;
  }
}

.paper-footer {
  font-size: 0.9rem;

  h4 {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.25rem;

    svg {
      width: auto;
      height: 0.9rem;
      vertical-align: baseline;
    }
  }

  a {
    color: $key-color;
  }
}