section.people-grid {
  display: grid;

  @media screen and (min-width: $xlg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: $xlg) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: $lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }

  column-gap: 1rem;
  row-gap: 1rem;
}

article.people-item {
  width: 100%;

  div.people-image {
    width: 100%;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      height: auto;
      border-radius: 0.35rem;
    }
  }

  div.people-info {
    span {
      display: block;
      margin-bottom: 0.15rem;
      line-height: 130%;
    }

    span svg {
      width: 0.85rem;
      height: 0.85rem;
      vertical-align: text-bottom;
    }

    span.name {
      font-size: 1rem;
      color: #333333;
    }

    span.role {
      font-size: 0.85rem;
      color: #333333;
    }

    span.school,
    span.department {
      font-size: 0.85rem;
      color: #666666;
    }

    span.link a {
      font-size: 0.85rem;
    }
  }
}

.alumni-list-wrap {
  @media screen and (min-width: $xlg) {
    display: flex;
    flex-wrap: nowrap;

    ul {
      width: 50%;
    }
  }

  @media screen and (max-width: $xlg) {
    display: block;

    ul {
      width: 100%;
    }

    ul:last-of-type {
      padding-top: 1rem;
    }
  }

  ul {
    display: block;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 0;
      margin: 0 0 0.5rem 0;
      font-size: 0.9rem;
      color: #666666;

      span.name {
        color: #454545;
      }
    }
  }

}