h3.post-cat-title {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.post-list-item {
  display: flex;
}

.post-list-image {
  @media screen and (min-width: $xlg) {
    width: 200px;
  }

  @media screen and (max-width: $sm) {
    width: 150px;
  }

  .main-wrap .image-grid a img {
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    transition: .3s;
    cursor: pointer;
  }

  img:hover {
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.1), 0 0 7px rgba(0, 0, 0, 0.05);
  }
}

.post-list-content {
  padding-left: 1rem;

  @media screen and (min-width: $xlg) {
    width: auto
  }

  @media screen and (max-width: $sm) {
    width: calc(100% - 150px);
  }

  h4 {
    font-size: 0.95rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;

    a {
      color: #000000;
      line-height: 100%;
    }
  }

  span {
    display: block;
    margin-top: 0.5rem;
    font-weight: 300;
    line-height: 130%;
  }

  span.authors {
    font-size: 0.9rem;
  }

  span.venue {
    font-size: 0.8rem;
    color: #454545;

    svg {
      width: auto;
      height: 0.8rem;
      vertical-align: text-bottom;
    }
  }
}